/** Regra CSS 
     
    seletor{propriedade:valor;
            propriedade2:valor;
            propriedade3:valor;
            }
*/

    h1{
        color:darkmagenta;
        
    }
    p{color: darkgrey;}